body {
  background-color:#ddd; 
  margin:0;
  padding:0;
}
#favicons {
  overflow: hidden;
}

#board .favicon {
    margin: 10px;
    width: 16px;
    height: 16px;  
    vertical-align:bottom;
}
#board .folder {
    margin: 8px;
    width: 20px;
    height: 20px;
    vertical-align:bottom;
}

#reserve {
    background-color:#ddd;
}
#reserve .favicon {
    width: 16px;
    height: 16px;  
    vertical-align:bottom;
}
#reserve .folder {
    width: 16px;
    height: 16px;
    vertical-align:bottom;
}
