body {
  background-color:#ddd; 
  margin:0;
  padding:0;
}
#favicons {
  overflow: hidden;
}

#board {
    width:100%;
    height:500px;
    background-color:#fdd;
}

#board > main .favicon {
    
    width: 16px;
    height: 16px;  
    vertical-align:bottom;
}
#board > main .folder {
    margin: 8px;
    width: 20px;
    height: 20px;
    vertical-align:bottom;
}

#reserve {
    background-color:#ddd;
}
#reserve .favicon {
    width: 16px;
    height: 16px;  
    vertical-align:bottom;
}
#reserve .folder {
    width: 16px;
    height: 16px;
    vertical-align:bottom;
}
