body {
  margin:0;
  padding:0;
}
#board {
  width:100%;
  height:100%;
}

body.manual {
  position:absolute;
  width:100%;
  height:100%;
}

body.manual .icon {
  width: 16px;
  height: 16px;
  vertical-align:bottom;
}

body.auto .favicon {
  margin: 10px;
  width: 16px;
  height: 16px;  
  vertical-align:bottom;
}
body.auto .folder {
  margin: 8px;
  width: 20px;
  height: 20px;
  vertical-align:bottom;
}


header {
  padding: 12px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #222;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group > label {}
.button-group > label:first-child > div {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button-group > label:nth-child(n+2):nth-last-child(n+2) > div {
  border-radius: 0;
  border-left:none;
}
.button-group > label:last-child > div {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left:none;
}
.button-group > label > div{
  border:1px solid #ccc;
  border-radius: 4px;
  background-color: #444;
  cursor: pointer;
  width:16px;
  height:16px;
  padding:3px;
  fill: #ddd;
}
.button-group > label > input[type=radio] {
  display:none;
}
.button-group > label > input[type=radio]:checked+div {
  background-color:#fff;
  color:#fff;
  cursor: auto;
  fill: #444;
}

button {
  border-radius: 4px;
  background-color:#fff;
  color:#fff;
  cursor: auto;
  fill: #444;
  padding:3px;
}

button > div {
  width:16px;
  height:16px;

}


#board.delete img {
  cursor: url(../../img/target.png) 8 8, crosshair;
}
#board.move img{
  cursor: move;
}


